@font-face {
    font-family: 'Bebas Neue Cyrillic';
    src: url('../font/BebasNeueCyrillic.eot');
    src: url('../font/BebasNeueCyrillic.eot?#iefix') format('embedded-opentype'),
        url('../font/BebasNeueCyrillic.woff2') format('woff2'),
        url('../font/BebasNeueCyrillic.woff') format('woff'),
        url('../font/BebasNeueCyrillic.ttf') format('truetype'),
        url('../font/BebasNeueCyrillic.svg#BebasNeueCyrillic') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('../font/Lato-Regular.eot');
    src: url('../font/Lato-Regular.eot?#iefix') format('embedded-opentype'),
        url('../font/Lato-Regular.woff2') format('woff2'),
        url('../font/Lato-Regular.woff') format('woff'),
        url('../font/Lato-Regular.ttf') format('truetype'),
        url('../font/Lato-Regular.svg#Lato-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.text-box{
	padding-top: 2rem;
}
.result {
	margin-bottom: 0;
	margin-top: 3rem;
}
.fonts {
	font-size: 2rem;
	text-align: center;
	padding: 2rem;
}
small {
	font-size: 1.3rem;
}

.open-sans {
font-family: 'Open Sans', sans-serif;
}

.bebas {
	font-family: 'Bebas' sans-serif;
}

.lato {
	font-family: 'Lato';
}


.lobster {
	font-family: 'Lobster', cursive;
}